.left-sidebar{
    width: 164px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    transition: box-shadow ease-in-out 0.1s,transform ease-in-out 0.1s;
    transform: translatez(0);
    box-sizing: border-box;
    font-size: 13px;
    background-color: rgb(3, 3, 109);
    color: whitesmoke;

}

.left-sidebar h2{
  margin: auto;
}
.side-nav{
    height: 100vh;
    max-width: 100%;
    position: sticky;
    color: whitesmoke;  
}
.side-nav-div div{
    padding-left:10px;
}

.side-nav-links{
   text-decoration: none;
   color:whitesmoke;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-left: 10px;
   transition: 0,2s; 
}

.active{
font-weight: bolder;
color: black;
background-color: rgb(225,255,255);
border-right: solid 3px #ef8236;
}

@media screen and (max-width: 480px) {
    .left-sidebar{
      display: none;
    }
  }