.home-container-1{
    min-height: 100vh;
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.home-container-2{
    width: 87%;
    padding: 24px;
    padding-top: 5px;
    background-color: rgba(219, 240, 248, 0.986);
    box-sizing: border-box;
    
}
@media screen and (max-width: 480px) {
    .home-container-2 {
      width: 100%;
    }
  }