.month{
    width: 37px;
    height: 43vh;
    position: relative;
}
.range{
    width: 37px;
    height: 30vh;
    border-radius: 8px;
    background-color: gainsboro;
    position: absolute;
    bottom: 27px;
}

.month p{
    margin: 0;
    text-align: center;
    position: absolute;
    left: 7px;
    font-size: 15px;
    color: gray;
    bottom: 0;
}

@media screen and (max-width: 480px) {
    .month{
      width: 6%;
      
    }
    .range{
        width: 100%;
    }
    .month p{
               left: 0;
    }
  }